/***************************The navbar****************************/

.bg-inverse {
    border-radius: 0!important;
}

nav > div > ul >li {
    font-size: 20px;
    width: 10%;
}

.navbar-brand {
    padding-right: 15%;
}

.navbar-nav > li > a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.navbar {
    min-height: 50px !important;
}

.form-inline {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}


/***********************End of Navbar************************/


/****************************Carousel***********************/

.carousel {
    width: 100%!important;    
}

.carousel-item > img {
    width: 25%;
}
.carousel-control.right, 
.carousel-control.left {
  background-image:none;
}
/****************************End of carousel*******************/

@font-face {
    font-family: FontAwesome.otf;
    src: url({% static 'fonts/FontAwesome.otf' %});
}

div {
    font-family: FontAwesome.otf;
}

.navbar-toggler {
    border-radius: 0!important;
    background-color: #ffffff!important;
    padding: .6rem .9rem!important;
    color: #ffffff;
    height: 2px;
    width: 2px;
}


