{% extends 'base.html' %} 

{% load i18n %} 

{% block main %}
<section class="category-section">
{% if object_list %}
<div class="col-xs-12 col-md-12">
    <h2>{% trans "Category" %}</h2> 
    {% for category in object_list %}
	    <div class="col-xs-12 col-md-12">
	    	<a href="{% url 'products-app:sub-category' category.category_slug %}">{{ category.name }}</a>
	    	<p>{{ category.category_slug }}</p>
	    </div>
    {% endfor %}
</div>
{% else %}
	<div class="row">{% trans "No Category were found" %}.</div>
{% endif %}
</section>

{% endblock %}

