{% extends 'base.html' %} 

{% load i18n %} 

{% block main %}
<section class="catalogue-section">
	<div>
	    <h2>{% trans "Products" %}</h2>
	</div>
	{% if object_list %}
	<div class="row">
	    {% for product in object_list %}
	    <div class="col-xs-6 col-md-3">
	        <a href="{{ product.get_absolute_url }}" class="thumbnail">
	            <img src="{{ product.image.url }}" alt="" height="300" width="300">
	        </a>
	    </div>
	    {% endfor %}
	</div>
	{% else %}
	<div class="row">{% trans "No products were found" %}.</div>
	{% endif %}
	</div>

</section>
{% endblock %}
