{% extends 'base.html' %} 

{% load i18n %} 

{% block main %}
<section class="catalogue-section">
	<div class="col-xs-12 col-md-12" align="center">
	<h1>Fix me</h1>
	    <h1>{% trans "Products List" %}</h1>
	</div>
	{% if object_list %}
	<div class="col-xs-12 col-md-12">
	    {% for product in object_list %}
	    <div class="" align="center">
	    	<a href="">{{ object.name }}</a>
	        <a href="" class="">{{ product.name }}</a>
	        
	        <h6>{{ product.id }}</h6>
	    </div>
	    {% endfor %}
	</div>
	{% else %}
	<div class="col-xs-12 col-md-12" align="center">{% trans "No products were found" %}.</div>
	{% endif %}
	</div>

</section>
{% endblock %}

