{% extends 'base.html' %} 

{% load i18n %} 
{% load mptt_tags %}

{% block main %}
<section class="category-section">
{% if object_list %}
<div class="col-xs-2 col-md-2">
    <h2>{% trans "Sub-Category" %}</h2> 
    {% for sub_category in object_list %}
	    <div class="col-xs-12 col-md-12">
	    	<a href="">{{ sub_category.name }}</a>
	    	<p>{{ sub_category.slug }}</p>
	    </div>
    {% endfor %}
</div>
{% else %}
	<div class="row">{% trans "No Category were found" %}.</div>
{% endif %}
</section>

{% endblock %}