{% extends 'base.html' %} 
{% load i18n %} 

{% block main %}
<section class="category-section">
    <h1>Fix Me</h1> {% if object_list %}
    <div class="col-xs-12 col-md-12">
        <h2>{% trans "Sub-Category" %}</h2> 
        {% for object in object_list %}
        <div class="col-xs-12 col-md-12">
		<a href="{% url 'products-app:product-list' category_slug subcategory_slug %}">{{ object.name }}</a>
            <p>subcategory_slug:{{ object.subcategory_slug }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">{% trans "No Category were found" %}.</div>
    {% endif %}
</section>
{% endblock %}
