{% extends 'base.html' %} 

{% load i18n %} 
{% load mptt_tags %}

{% block main %}
<section class="category-section">
<h1>Fix Me</h1>
{% if object_list %}
<div class="col-xs-2 col-md-2">
    <h2>{% trans "Sub-Category" %}</h2> 
    {% for object in object_list %}

	    <div class="col-xs-12 col-md-12">
	    	<a href="{% url 'product-app:product-list' object.subcategory_slug %}">{{ object.name }}</a>
	    	<p>{{ object.subcategory_slug }}</p>
	    </div>

    {% endfor %}
</div>
{% else %}
	<div class="row">{% trans "No Category were found" %}.</div>
{% endif %}
</section>

{% endblock %}
