.slider {
    width: 100%;
    margin: 10px auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slick-slide {
    margin: 0px 10px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}
