{% load staticfiles %}

<header id="header" class="okayNav-header">
    <a class="okayNav-header__logo" href="#">Logo</a>
    <nav role="navigation" id="nav-main" class="okayNav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">The Collection</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </nav>
</header>
<!-- /header -->
