{% extends 'base.html' %}
<!-- load static files -->
{% load staticfiles %}
<!-- Main page -->
{% block main %}
<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Slider include -->
                {% include 'includes/carousel.html' %}
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<section id="about" class="about-section">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static 'img/photo2.jpg' %}" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Ksh. 1000</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static 'img/photo2.jpg' %}" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Ksh. 1000</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static 'img/photo2.jpg' %}" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Ksh. 1000</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static 'img/photo2.jpg' %}" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Ksh. 1000</p>
                        </div>
                    </a>
                </div>
                <!-- end of thumbnail -->
            </div>
        </div>
    </div>
</section>
<!-- Services Section -->
{% include 'includes/category_display.html' %}
<!-- Contact Section -->
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Section</h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}
